.divMain {
  background-color: rgba(0, 0, 0, 0.616);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.divMainHeader {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.685);
  color: white;
  display: flex;
  flex-direction: column;
  width: 400px;
  z-index: 1;
}

.divBlur {
  background-image: url('./image/bgWallet.jpg');
  background-size: 100% 100%;
  filter: blur(3px);
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 0;
}
