.sectionTable {
  background-color: rgba(0, 0, 0, 0.582);
  border: 2px solid orange;
  display: flex;
  flex-direction: column;
  height: 90vh;
  margin: 40px;
  overflow-y: auto;
  width: 90%;
}

table {
  color: white;
  max-height: 100%;
  table-layout: fixed;
  width: 100%;
}

thead {
  background-color: #414141;
  position: sticky;
  top: 0;
}

tbody {
  display: block;
  overflow: auto;
}

tr {
  display: table;
  table-layout: fixed;
  width: 100%;
}

tbody tr:nth-child( even ) {
  background-color: #2725259d;
}

tbody tr:nth-child( odd ) {
  background-color: #16161681;
}

th , td {
  padding: 8px;
  text-align: center;
}

.sectionTable::-webkit-scrollbar {
  width: 1px;
}

.sectionTable::-webkit-scrollbar-thumb {
  background-color: #80808000;
}

.btnTable {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 40px;
  width: 40px;
}

.btnTable:hover {
  border: 1px solid gray;
  border-radius: 10px;
}
